.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 2rem;
}

.table {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.line-horizontal-top {
  width: 50px;
  height: 2px;
  background: rgb(0, 0, 0);
}

.line-vertical-top {
  width: 2px;
  height: 50px;
  background: black;
}

.line-horizontal {
  position: relative;
  width: 52px;
  height: 2px;
  background: black;
}

.line-vertical {
  position: relative;
  width: 2px;
  height: 50px;
  background: black;
}

.line-horizontal-end {
  position: relative;
  width: 54px;
  height: 2px;
  background: black;
}

.line-vertical-end {
  position: relative;
  width: 2px;
  height: 50px;
  background: black;
}

.square {
  width: 48px;
  height: 48px;
  background: red;
  margin: 1px;
}

.obstacle {
  background-image: url("./assets/obstacle.svg");
  width: 48px;
  height: 48px;
  margin: 1px;
}

.line-object-vertical-init {
  position: absolute;
  top: 12px;
  left: -12px;
  margin: 1px;
}

.line-object-horizontal-init {
  position: absolute;
  top: -12px;
  left: 15px;
  margin: 1px;
}

.line-object-vertical-circle {
  position: absolute;
  top: 12px;
  left: -12px;
  background-image: url("./assets/circle.svg");
  width: 24px;
  height: 24px;
  margin: 1px;
}

.line-object-horizontal-circle {
  position: absolute;
  top: -12px;
  left: 15px;
  background-image: url("./assets/circle.svg");
  width: 24px;
  height: 24px;
  margin: 1px;
}

.end{
  position: relative;
}
.line-row {
  display: flex;
}