.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 2rem;
}

.table {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.line-horizontal-top {
  width: 55px;
  height: 2px;
  background: rgb(0, 0, 0);
}

.line-vertical-top {
  width: 2px;
  height: 52px;
  background: black;
}

.line-horizontal {
  width: 54px;
  height: 2px;
  background: black;
}

.line-vertical {
  width: 2px;
  height: 52px;
  background: black;
}

.line-horizontal-end {
  width: 56px;
  height: 2px;
  background: black;
}

.line-vertical-end {
  width: 2px;
  height: 52px;
  background: black;
}

.square {
  width: 48px;
  height: 48px;
  background: red;
  margin: 1px;
}

.line-row {
  display: flex;
}